<!--
  Generated template for the AdminParamNewitemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>New Item</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
  <form #newItemForm="ngForm" (ngSubmit)="onSubmit()">
  <ion-list>
      <ion-item>
          <ion-label floating>Category Name :</ion-label>
          <ion-input ion-content [(ngModel)]="newItem.itemCategory" required name="category" #category="ngModel"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Item Name :</ion-label>
          <ion-input ion-content [(ngModel)]="newItem.itemName" required name="name" #name="ngModel"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Item Price :</ion-label>
          <ion-input ion-content [(ngModel)]="newItem.itemPrice" integer required name="price" #price="ngModel"></ion-input>
      </ion-item>
  </ion-list>
  <ion-buttons text-center>
    <button ion-button type="submit">Add
      </button>
  </ion-buttons>
</form>
</ion-content>
