<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow no-border>

    <ion-navbar>
        <button ion-button outline menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Masuk</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding text-center no-bounce overflow-scroll="false">
    <ion-row style="height: 100%; width: 100%">
        <div style="width: 100%">
            <form #loginForm="ngForm" (ngSubmit)="onLogin()">
                <ion-list>
                    <ion-item *ngIf="errorMsg" text-center style="color:red" text-wrap>{{errorMsg}}</ion-item>
                    <ion-item>
                        <ion-label floating>Email :</ion-label>
                        <ion-input [(ngModel)]="loginItem.email" required name="email" #email="ngModel"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Password :</ion-label>
                        <ion-input type="password" [(ngModel)]="loginItem.password" required name="password" #password="ngModel"></ion-input>
                    </ion-item>
                </ion-list>
                <ion-buttons>
                    <button type="submit" color="secondary" ion-button block [disabled]="!loginForm.form.valid">Masuk</button>
                    <button type="button" color="secondary" ion-button block outline (click)="gotoForgotPassword()">Lupa Password</button>
                    <button type="button" color="secondary" ion-button block (click)="gotoSignUp()">Daftar</button>
                </ion-buttons>
            </form>
        </div>
    </ion-row>
</ion-content>