<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ganti Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
  <form #changepassForm="ngForm" (ngSubmit)="onSubmit()">
    <ion-label text-center text-wrap *ngIf="password.invalid && repassword.value?.length > 0" style="color:red">Password minimal 6 digit</ion-label>
    <ion-label text-center text-wrap *ngIf="repassword.invalid && repassword.value?.length > 0" style="color:red">Password anda tidak sama</ion-label>
    <ion-label text-center text-wrap *ngIf="errorMsg.length > 0" style="color:red">{{errorMsg}}</ion-label>
    <ion-list>
      <ion-item>
        <ion-label floating>Password Lama :</ion-label>
        <ion-input type="password" ion-content [(ngModel)]="oldPassword" required name="oldpassword" #oldpassword="ngModel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password Baru :</ion-label>
        <ion-input repass type="password" ion-content [(ngModel)]="newpassword" required name="password" minlength="6" #password="ngModel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Ulang Password Baru :</ion-label>
        <ion-input repass #pass2 type="password" ion-content [(ngModel)]="renewpassword" required [pass]="password" name="repassword"
          #repassword="ngModel" [disabled]="newpassword == null || newpassword == ''"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button type="submit" block color="secondary" [disabled]="!changepassForm.form.valid">
      Simpan
    </button>
  </form>
</ion-content>