<ion-header no-shadow no-border>
        <ion-navbar>
            <button ion-button outline menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
            <ion-title>Dashboard - History</ion-title>
        </ion-navbar>
        <ion-searchbar placeholder="Search By Order ID" #searchbar (keyup.enter)="onEnter(searchbar.value)">
        </ion-searchbar>
    </ion-header>
    
    
    <ion-content padding no-bounce overflow-scroll="false">
        <p text-center>Total Order: {{ordercount}}</p>
        <p text-center>Total Products: {{productsCount}}</p>
        <ion-list>
            <ion-card *ngFor="let order of ordersArray" color="graycombo">
                <ion-card-content>
                    <div (click)="goToDetailUser(order.order.ID)">
                        <p text-center>#{{order.order.ID}}</p>
                        <br/>
                        <p>Total Pesanan : {{order.order.products.length}}</p>
                        <p>Total Price : Rp. {{getCurrency(order.order.totalPrice)}}</p>
                        <p *ngIf="order.order.status == 3">Total Refund : Rp. {{getCurrency(order.order.getRefund())}}</p>
                        <p *ngIf="order.order.status == 3">Canceled Date : {{order.order.canceledDate | date:'dd-MM-yyyy'}}</p>
                        <p *ngIf="order.order.status == 2">Completed Date : {{order.order.completedDate | date:'dd-MM-yyyy'}}</p>
                    </div>
                    <br/>
                    <ion-buttons text-center>
                        <button small type="button" (click)="sendMessage(order)" color="secondary" ion-button>Send Message</button>
                    </ion-buttons>
                </ion-card-content>
            </ion-card>
        </ion-list>
    
        <ion-infinite-scroll *ngIf="ordersArray.length != ordercount" (ionInfinite)="doLoadMoreData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-content>