<!--
  Generated template for the DetailSettingAlamatPengirimanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow no-border>

    <ion-navbar>
        <ion-title text-warp>Detil Setting Pesanan</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
    <ion-item no-lines text-wrap>
        <p>*Kambing bisa di potong di tempat / antar</p>
    </ion-item>
    <ion-item no-lines text-wrap>
        <p>*Harga potong di tempat = Rp. 100.000</p>
    </ion-item>
    <ion-item no-lines text-wrap>
        <p>*Harga antar = Rp. 150.000 (Jakarta, Bogor, Tangerang Selatan)</p>
    </ion-item>
    <ion-item text-wrap>
        <p>*Alamat bisa diisi di menu Account Setting</p>
        <button ion-button type="button" item-end (click)="goToAccountAlamat()" color="secondary">Setting Alamat</button>
    </ion-item>
    <br/>
    <ng-container *ngFor="let product of order.products; let i = index">
        <ion-row justify-content-end class="panen-grid-beli" style="background: white">
            <ion-col align-self-start>
                <ion-label item-start>Kambing {{product.itemName}}</ion-label>
            </ion-col>
            <ion-col col-auto>
                <ion-item>
                    <ion-label item-content floating>Pilih Option : &nbsp;&nbsp;</ion-label>
                    <ion-select [disabled]="order.paymentDetails.length == order.totalInstallment + 1" item-content id="option-{{i}}" name="option-{{i}}" [(ngModel)]="product.itemOption" (ionChange)="product.itemOptionPrice = onChangeOption($event)"
                        #option="ngModel">
                        <ion-option [value]="POTONG">POTONG</ion-option>
                        <ion-option [value]="ANTAR">ANTAR</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="product.itemOption == 'ANTAR'">
            <ion-item>
                <ion-label item-start floating>Pilih Alamat : &nbsp;&nbsp;</ion-label>
                <ion-select [disabled]="!product.status == 0" item-content id="address-{{i}}" name="address-{{i}}" [(ngModel)]="product.alamatId" (ionChange)="product.alamatId = changeToInt($event)"
                    #address="ngModel">
                    <ion-option *ngFor="let address of addresses" [value]="address.ID">{{address.addressAlias}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-row>
        <br/>
    </ng-container>
    <ion-row>
        <ion-col text-center>
            <button color="secondary" block ion-button (click)="onSave()">
                Simpan
            </button>
        </ion-col>
    </ion-row>
</ion-content>