<ion-header>

    <ion-navbar>
        <ion-title>Harga Admin</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
    <form (ngSubmit)="onSubmit()" #hargaAdminForm="ngForm">
        <ion-list>
            <ion-item *ngFor="let key of mapKeys; let i = index">
                <ion-label>
                    {{key}}
                </ion-label>
                <ion-input type="number" text-end (ionChange)="onChange(key, $event)" [value]="mapItems.get(key)"></ion-input>
            </ion-item>
        </ion-list>
        <ion-buttons text-center>
            <button color="secondary" type="submit " ion-button block>Simpan</button>
        </ion-buttons>
    </form>
</ion-content>