<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ubah Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
  <form #editProfileForm="ngForm" (ngSubmit)="onSubmit()">
    <ion-label text-center text-wrap *ngIf="username.errors?.async" style="color:red">Username sudah dipakai, silahkan gunakan Username yang lain.</ion-label>

    <ion-label text-center text-wrap *ngIf="email.errors?.async" style="color:red">Email sudah dipakai, silahkan gunakan Email yang lain.</ion-label>

    <ion-label text-center text-wrap *ngIf="phoneNumber.errors?.async" style="color:red">Phone number sudah dipakai, silahkan gunakan nomor yang lain.</ion-label>

    <ion-label text-center text-wrap *ngIf="email.errors?.minlength" style="color:red">Email minimal 8 digit.</ion-label>

    <ion-label text-center text-wrap *ngIf="phoneNumber.errors?.minlength && phoneNumber.value?.length > 0" style="color:red">Phone number minimal 11 digit</ion-label>
    <ion-item>
      <ion-label floating>Username :</ion-label>
      <ion-input ion-content [(ngModel)]="userData.userName" [ngModelOptions]="{updateOn: 'blur'}" asyncUsernameValidator [defaultValue]="userDataTemp.userName"
        required name="username" #username="ngModel"></ion-input>
    </ion-item>
    <small text-center text-wrap *ngIf="username.pending" style="color: #488aff">Checking ...</small>
    <ion-item>
      <ion-label floating>Nama Depan :</ion-label>
      <ion-input type="text" ion-content [(ngModel)]="userData.firstName" required name="firstName" #firstName="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Name Belakang :</ion-label>
      <ion-input type="text" ion-content [(ngModel)]="userData.lastName" required name="lastName" #lastName="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>No. Handphone :</ion-label>
      <ion-input type="tel" mask="+**************" ion-content [(ngModel)]="userData.phoneNumber" [ngModelOptions]="{updateOn: 'blur'}"
        asyncPhonenumberValidator [defaultValue]="userDataTemp.phoneNumber" required minlength="12" name="phoneNumber" #phoneNumber="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Email :</ion-label>
      <ion-input type="email" ion-content [(ngModel)]="userData.email" [ngModelOptions]="{updateOn: 'blur'}" asyncEmailValidator [defaultValue]="userDataTemp.email"
        required name="email" minlength="8" #email="ngModel" pattern="^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$"></ion-input>
    </ion-item>
    <small text-center text-wrap *ngIf="email.pending" style="color: #488aff">Checking ...</small>
    <br/>
    <ion-buttons>
      <button type="submit" color="secondary" block ion-button [disabled]="!editProfileForm.form.valid">Simpan</button>
    </ion-buttons>
  </form>
</ion-content>