<ion-header no-shadow no-border>
    <ion-navbar>
        <button ion-button outline menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Setting Akun</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
    <ion-card>
        <ion-item-divider color="graycombo" style="font-weight: bold; border-radius: 5px;" (click)="forwardToAlamat()">Setting Alamat</ion-item-divider>
    </ion-card>
    <ion-card>
        <ion-item-divider (click)="myorder.hidden ? myorder.hidden = false : myorder.hidden = true" color="graycombo" style="font-weight: bold; border-radius: 5px;">Setting Opsi Pesanan</ion-item-divider>
        <ion-card-content no-bounce overflow-scroll="false" [hidden]="true" #myorder class="animate-in-primary-vertical">
            <ion-card-header>Daftar Pesanan</ion-card-header>
            <div *ngIf="orders.length>0; else noorder">
                <ion-list *ngFor="let order of orders; let i = index">
                    <button *ngIf="order.status === 1 || order.status === 2" ion-button block color="secondary" (click)="forwardToOrderAlamat(order)">
                        <ion-icon name="cart" item-start></ion-icon>
                        <ion-label text-left>&nbsp;Order #{{order.ID}}</ion-label> ({{order.orderDate | date:'dd-MM-yyyy' }})
                    </button>
                </ion-list>
            </div>
        </ion-card-content>
        <ng-template #noorder>
            <ion-label text-center>
                Anda tidak mempunyai pesanan.
            </ion-label>
        </ng-template>
    </ion-card>
    <ion-card>
        <ion-item-divider color="graycombo" style="font-weight: bold; border-radius: 5px;" (click)="forwardToEditProfile()">Ubah Profile</ion-item-divider>
    </ion-card>
    <ion-card>
        <ion-item-divider color="graycombo" style="font-weight: bold; border-radius: 5px;" (click)="forwardToChangePass()">Ganti Password</ion-item-divider>
    </ion-card>
</ion-content>