<ion-header #header no-shadow no-border>
    <ion-navbar>
        <button ion-button outline menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Dashboard</ion-title>
    </ion-navbar>
</ion-header>

<ion-header [style.margin-top]="getTop()+'px'" style="background-color: #FFFFFF;" *ngIf="topLoading">
    <ion-item>
        <ion-spinner item-start name="crescent" class="spinner-royal"></ion-spinner>
        <ion-label style="color: #886aea;">Loading</ion-label>
    </ion-item>
</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
    <div *ngIf="orders.length > 0; else noorder">
        <ion-card *ngFor="let order of orders; let i = index">
            <ion-item no-padding style="font-weight: bold; border-radius: 5px; background: #798788;" (click)="orderDetail.hidden ? orderDetail.hidden = false : orderDetail.hidden = true">
                <ion-label item-start color="white">
                    &nbsp; Pesanan #{{order.ID}}
                </ion-label>
                <ion-note text-right text-wrap item-end color="white">
                    {{order.getStatusName()}}
                </ion-note>
            </ion-item>
            <ion-card-content no-bounce overflow-scroll="false" #orderDetail [hidden]="true" class="animate-in-primary-vertical">
                <ion-list>
                    <div *ngIf="order.status === 1; else ondeliveryDesc">
                        <br/> Terima kasih,
                        <br/>
                        <br/>
                        <br/> Untuk pesanan anda dengan
                        <b>ID Pesanan = #{{order.ID}}</b> dan total
                        <b> {{order.products.length}} hewan. </b>
                        <br/>
                        <br/> Berikut adalah rincian pesanan:
                        <br/>
                        <br/>
                        <ng-container *ngFor="let desc of order.getProdDesc();">
                            <ion-label text-wrap style="padding-left: 5em;">- {{desc}}</ion-label>
                        </ng-container>
                        <br/> Tanggal Pemasanan:
                        <b>{{order.orderDate | date:'dd-MM-yyyy'}}</b>
                        <br/> Besar cicilan perbulan:
                        <b>Rp. {{getCurrency(getAngsuran(order))}}</b>
                        <br/> Total cicilan:
                        <b>{{order.totalInstallment}} kali.</b>
                        <br/> Sisa cicilan:
                        <ng-container *ngIf="(order.totalInstallment - order.getCurrentInstallment()) == 0; else nonlunasactive">
                            <b>Anda sudah lunas.</b>
                        </ng-container>
                        <ng-template #nonlunasactive>
                            <b *ngIf="(order.totalInstallment - order.getCurrentInstallment()) != 0;">{{order.totalInstallment - order.getCurrentInstallment() }} kali.</b>
                        </ng-template>
                    </div>
                    <ng-template #doneDesc>
                        <div *ngIf="order.status === 2; else canceledDesc">
                            <br/> Terima kasih,
                            <br/>
                            <br/>
                            <br/> Untuk pesanan anda dengan
                            <b>ID Pesanan = #{{order.ID}}</b> dan total
                            <b> {{order.products.length}} hewan</b> sudah
                            <b>selesai</b>.
                            <br/>
                            <br/> Berikut adalah rincian pesanan:
                            <br/>
                            <br/>
                            <ng-container *ngFor="let desc of order.getProdDesc();">
                                <ion-label text-wrap style="padding-left: 5em;">- {{desc}}</ion-label>
                            </ng-container>
                            <br/> Tanggal Pemasanan:
                            <b>{{order.orderDate | date:'dd-MM-yyyy'}}</b>
                        </div>
                    </ng-template>
                    <ng-template #canceledDesc>
                        <div *ngIf="order.status === 3; else waitpaymentDesc">
                            <br/> Terima kasih,
                            <br/>
                            <br/>
                            <br/> Untuk pesanan anda dengan
                            <b>ID Pesanan = #{{order.ID}}</b> dan total
                            <b> {{order.products.length}} hewan</b> sudah di
                            <b>cancel</b>.
                            <br/>
                            <br/> Berikut adalah rincian pesanan:
                            <br/>
                            <br/>
                            <ng-container *ngFor="let desc of order.getProdDesc();">
                                <ion-label text-wrap style="padding-left: 5em;">- {{desc}}</ion-label>
                            </ng-container>
                            <br/> Tanggal Pemasanan:
                            <b>{{order.orderDate | date:'dd-MM-yyyy'}}</b>
                            <br/> Tanggal Cancel:
                            <b>{{order.canceledDate | date:'dd-MM-yyyy'}}</b>
                        </div>
                    </ng-template>
                    <ng-template #waitpaymentDesc>
                        <div *ngIf="order.status === 0;">
                            <br/> Terima kasih,
                            <br/>
                            <br/>
                            <br/> Untuk pesanan anda dengan
                            <b>ID Pesanan = #{{order.ID}}</b> dan total
                            <b> {{order.products.length}} hewan. </b>
                            <br/>
                            <br/> Kami masih menunggu pembayaran anda.
                            <br/> Berikut adalah rincian pesanan:
                            <br/>
                            <br/>
                            <ng-container *ngFor="let desc of order.getProdDesc();">
                                <ion-label text-wrap style="padding-left: 5em;">- {{desc}}</ion-label>
                            </ng-container>
                            <br/> Tanggal Pemasanan:
                            <b>{{order.orderDate | date:'dd-MM-yyyy'}}</b>
                            <br/> Besar cicilan perbulan:
                            <b>Rp. {{getCurrency(getAngsuran(order))}}</b>
                            <br/> Total cicilan:
                            <b>{{order.totalInstallment}} kali.</b>
                            <!-- <br/> Sisa cicilan:
                            <b>{{order.totalInstallment - order.getCurrentInstallment() }} kali.</b> -->
                        </div>
                    </ng-template>
                    <ion-card>
                        <ion-item-divider text-center color="graycombo" style="font-weight: bold; border-radius: 5px;">Daftar Detil Pesanan</ion-item-divider>
                        <ion-card-content no-bounce overflow-scroll="false">
                            <br/>
                            <ion-list>
                                <ion-item *ngFor="let product of order.products">
                                    <ion-label text-wrap item-start>#{{product.productId}} ({{product.itemName}})</ion-label>
                                    <ion-note *ngIf="order.status != 3" item-end color="oranges">{{productStatus[product.status]}}</ion-note>
                                    <ion-note *ngIf="order.status == 3" item-end color="oranges">CANCELED</ion-note>
                                </ion-item>
                            </ion-list>
                        </ion-card-content>
                    </ion-card>
                    <br/>
                    <div *ngIf="order.status === 1; else waitingforpayment">
                        <ion-row class="panen-grid-myorder" justify-content-center>
                            <ion-col *ngIf="order.getCurrentInstallment() < order.totalInstallment">
                                <button color="secondary" ion-button icon-left clear small block (click)="bayarCicilan(order)" *ngIf="order.getSisaInstallment() !== 0 ">
                                    <ion-icon name="card"></ion-icon>Bayar cicilan ke - {{order.getCurrentInstallment()+1}}
                                </button>
                            </ion-col>
                        </ion-row>
                        <ion-row justify-content-center>
                            <ion-col *ngIf="order.paymentDetails.length == order.totalInstallment">
                                <button color="secondary" ion-button icon-left clear small block (click)="bayarCicilan(order)">
                                    <ion-icon name="card"></ion-icon>Bayar Jasa Antar/Potong
                                </button>
                            </ion-col>
                        </ion-row>
                        <ion-row justify-content-center>
                            <ion-col>
                                <button color="secondary" ion-button icon-left clear small block (click)="setPengiriman(order)">
                                    <ion-icon name="home"></ion-icon>Opsi Pesanan
                                </button>
                            </ion-col>
                        </ion-row>
                        <ion-row justify-content-center>
                            <ion-col *ngIf="order.status == 1 ">
                                <button color="secondary" ion-button icon-left clear small block (click)="cancelOrder(order)">
                                    <ion-icon name="hand"></ion-icon>Cancel Pesanan
                                </button>
                            </ion-col>
                        </ion-row>
                    </div>
                    <ng-template #waitingforpayment>
                        <div *ngIf="order.status === 0 ; else canceled ">
                            <ion-row class="panen-grid-myorder" justify-content-center>
                                <ion-col>
                                    <button color="secondary" ion-button icon-left clear small block (click)="detailpembayaran.hidden = false" *ngIf="order.getSisaInstallment() !== 0 ">
                                        <ion-icon name="card"></ion-icon>Detil Pembayaran
                                    </button>
                                </ion-col>
                            </ion-row>
                            <ion-row justify-content-center>
                                <ion-col>
                                    <button color="secondary" ion-button icon-left clear small block (click)="setPengiriman(order)">
                                        <ion-icon name="home"></ion-icon>Opsi Pesanan
                                    </button>
                                </ion-col>
                            </ion-row>
                            <ion-row justify-content-center>
                                <ion-col *ngIf="order.status == 1 ">
                                    <button color="secondary" ion-button icon-left clear small block (click)="cancelOrder(order)">
                                        <ion-icon name="hand"></ion-icon>Cancel Order
                                    </button>
                                </ion-col>
                            </ion-row>
                            <ion-row #detailpembayaran [hidden]="true" *ngIf="order.paymentDetails[0].paymentDuitkuDetail?.statusCode == '01'">
                                <ion-card>
                                    <ion-item-divider text-center color="graycombo" style="font-weight: bold; font-size: 1.3em; border-radius: 5px;">Bank Transfer Information</ion-item-divider>
                                    <ion-card-content no-bounce overflow-scroll="false">
                                        <div text-center>
                                            <p>No Rekening ATM Bersama (Kode Bank 987) : {{order.paymentDetails[0].paymentDuitkuDetail.vaNumber}}
                                            </p>
                                            <p>Nominal: {{getCurrency(order.paymentDetails[0].paymentDuitkuDetail.paymentAmount)}}</p>
                                        </div>
                                    </ion-card-content>
                                </ion-card>
                            </ion-row>
                        </div>
                    </ng-template>
                    <ng-template #canceled>
                        <ion-row class="panen-grid-myorder" *ngIf="order.status === 3 && order.isRefund; else nopending">
                            <ion-col>
                                <div>
                                    <br/>
                                    <i>Anda mempunyai pendingan refund sebesar Rp. {{getCurrency(order.getRefund())}}</i>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ng-template>
                    <ng-template #nopending>
                        <ion-row class="panen-grid-myorder" *ngIf="order.status === 3 && !order.isRefund; else completed">
                            <ion-col>
                                <div>
                                    <br/>
                                    <i>Anda tidak mempunyai pendingan refund.</i>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ng-template>
                    <ng-template #completed>
                        <ion-row class="panen-grid-myorder" *ngIf="order.status === 2; else waitpayment">
                            <ion-col>
                                <div>
                                    <br/>
                                    <i>Kambing telah dikirim dan diterima.</i>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ng-template>
                    <ng-template #waitpayment>
                        <ion-row class="panen-grid-myorder" *ngIf="order.status === 0;">
                            <ion-col>
                                <div>
                                    <br/>
                                    <i>Masih menunggu pembayaran.</i>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ng-template>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
    <ng-template #noorder>
        <ion-card text-center>
            <ion-label>Anda tidak mempunyai pesanan</ion-label>
        </ion-card>
    </ng-template>
</ion-content>