<ion-header no-shadow no-border>
    <ion-navbar>
        <button ion-button outline menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Belanja</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
    <form (ngSubmit)="onSubmit()" #kambingForm="ngForm" *ngIf="items.length > 0 && installments.length > 0" class="animate-in-primary">
        <ion-item-group>
            <ion-item-divider text-center color="graycombo" style="font-weight: bold; font-size: 1.3em; border-radius: 5px;">Kambing</ion-item-divider>
            <ion-slides autoplay="3000" pager="true" loop="true" speed="500" *ngIf="itemImages.length > 0">
                <ion-slide *ngFor="let itemImage of itemImages">
                    <img src="{{itemImage}}" style="height:300px; margin: auto; display: block;">
                </ion-slide>
            </ion-slides>
            <ion-item-group *ngFor="let dataProduct of dataProducts; let i = index; trackBy:trackByIndex;">
                <ion-row align-items-center style="background-color: white;">
                    <ion-col>
                        <ion-list>
                            <ion-item>
                                <ion-label text-wrap item-start>
                                    Harga :
                                </ion-label>
                                <ion-label text-wrap text-end item-content>
                                    Rp. {{ dataProduct.item ? getCurrency(dataProduct.item.itemPrice) : 0 }}
                                </ion-label>
                            </ion-item>
                            <ion-item>
                                <ion-label text-wrap>Pilih Berat :</ion-label>
                                <ion-select item-content id="item-{{i}}" required [(ngModel)]="dataProduct.item" name="item-{{i}}" #item="ngModel" (ionChange)="syncData()">
                                    <ion-option *ngFor="let item of items" [value]="item" text-warp>{{item.itemName}}</ion-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label text-wrap>Jumlah :</ion-label>
                                <ion-input item-content text-end maxlength="2" appForbidden id="qty-{{i}}" (keyup.enter)="closeKeyboard()" required forbidden="0"
                                    name="qty-{{i}}" type="tel" integer #qty="ngModel" (change)="syncData()" [(ngModel)]="dataProduct.qty"></ion-input>
                            </ion-item>
                            <ion-item *ngIf="(qty.invalid && (qty.dirty || qty.touched) )|| (item.invalid && (item.dirty || item.touched )) ">
                                <ion-label text-center style="color: red;">Data masih salah</ion-label>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                    <ion-col col-1>
                        <button class="customBtn" color="oranges" clear ion-button icon-only item-end (click)="onClickDelete(i, kambingForm, qty, item)"
                            type="button">
                            <ion-icon name="close"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-item-group>
            <button color="oranges" ion-fab mini type="button" (click)="newDataProduct()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-item-group>
        <br/>
        <ion-item-group>
            <ion-item-divider text-center color="graycombo" style="font-weight: bold; font-size: 1.3em; border-radius: 5px;">Harga</ion-item-divider>
            <ion-item-group class="panen-grid-beli">
                <ion-item text-wrap>
                    <ion-label item-start>Harga Admin :</ion-label>
                    <ion-label item-end text-end>Rp. {{getCurrency(items[0].itemAdminPrice)}}</ion-label>
                </ion-item>
                <ion-item text-wrap>
                    <ion-label item-start>Total :</ion-label>
                    <ion-label item-end text-end>Rp. {{getCurrency(getTotal())}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Pilihan Cicilan :</ion-label>
                    <ion-select item-content id="installment" name="installment" required [(ngModel)]="order.totalInstallment" placeholder="-- Bulan --"
                        #installment="ngModel">
                        <ion-option *ngFor="let installment of installments" [value]="installment.value">{{installment.name}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item *ngIf="installment.invalid && (installment.dirty || installment.touched)">
                    <ion-label text-center style="color: red;">Data masih salah</ion-label>
                </ion-item>
                <ion-item *ngIf="order.totalInstallment > 1; else nonCicil">
                    <ion-label item-start text-wrap>Jumlah Pembayaran tiap bulan :</ion-label>
                    <ion-label item-end text-end text-wrap>Rp. {{getCurrency(getAngsuran())}}</ion-label>
                </ion-item>
                <ng-template #nonCicil>
                    <ion-item>
                        <ion-label item-start text-wrap>Jumlah Pembayaran :</ion-label>
                        <ion-label item-end text-end text-wrap>Rp. {{getCurrency(getAngsuran())}}</ion-label>
                    </ion-item>
                </ng-template>
                <br/>
            </ion-item-group>
        </ion-item-group>
        <br/>
        <ion-item-group>
            <ion-item-divider text-center color="graycombo" style="font-weight: bold; font-size: 1.3em; border-radius: 5px;">Opsi</ion-item-divider>
            <ion-item no-lines text-wrap>
                <p>*Kambing bisa di potong di tempat / antar</p>
            </ion-item>
            <ion-item no-lines text-wrap>
                <p>*Harga potong di tempat = Rp. 100.000</p>
            </ion-item>
            <ion-item no-lines text-wrap>
                <p>*Harga Antar = Rp. 150.000 (Jakarta, Bogor, Tang. Selatan)</p>
            </ion-item>
            <ion-item no-lines text-wrap>
                <p>*Bisa diisi di menu Account Setting</p>
                <button ion-button type="button" color="secondary" outline item-end (click)="goToAccountAlamat()">Setting Alamat</button>
            </ion-item>
            <br/>
            <ion-item-group *ngFor="let product of order.products; let i = index">
                <ion-row justify-content-end align-items-center class="panen-grid-beli" style="background: white; border-bottom: thin solid #DFDFDF;">
                    <ion-col>
                        <p item-start>Kambing {{product.itemName}}</p>
                    </ion-col>
                    <ion-col col-auto>
                        <ion-item>
                            <ion-label item-content floating>Pilih Opsi : &nbsp;&nbsp;</ion-label>
                            <ion-select item-content id="option-{{i}}" name="option-{{i}}" [(ngModel)]="product.itemOption" (ionChange)="product.itemOptionPrice = onChangeOption($event)"
                                #option="ngModel">
                                <ion-option [value]="POTONG">POTONG</ion-option>
                                <ion-option [value]="ANTAR">ANTAR</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="product.itemOption == 'ANTAR'">
                    <ion-col>
                        <ion-item>
                            <ion-label>Pilih Alamat :</ion-label>
                            <ion-select item-content id="address-{{i}}" name="address-{{i}}" [(ngModel)]="product.alamatId" (ionChange)="product.alamatId = changeToInt($event)"
                                #address="ngModel">
                                <ion-option *ngFor="let address of addresses" [value]="address.ID">{{address.addressAlias}}</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <br/>
            </ion-item-group>
        </ion-item-group>
        <ion-buttons text-center>
            <button color="secondary" ion-button type="submit" block class="btn btn-success" [disabled]="!kambingForm.form.valid || order.products.length===0">Lanjut</button>
        </ion-buttons>
    </form>
</ion-content>