<ion-header no-shadow no-border>
    <ion-navbar>
        <button ion-button outline menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Inquiry</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
    <ion-list *ngIf="messages.length > 0; else nomessage">
        <ion-item *ngFor="let message of messages;" (click)="goToDetail(message)">
            {{message.data}}
        </ion-item>
    </ion-list>
    <ng-template #nomessage>
        <p text-center>Anda tidak mempunyai Inquiry.</p>
    </ng-template>
</ion-content>