<!--
  Generated template for the SettingAlamatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow no-border>

  <ion-navbar>
    <ion-title>Setting Alamat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
  <div *ngIf="dataArrays.length>0; else new">
    <ion-card *ngFor="let data of dataArrays; let i = index">
      <form #addressForm="ngForm" (ngSubmit)="onSave(i, addressForm)">
        <ion-card-content no-bounce overflow-scroll="false">
          <ion-list>
            <ion-item>
              <ion-label floating>Nama Alias</ion-label>
              <ion-input [disabled]="!data.edit" [(ngModel)]="data.address.addressAlias" name="addressAlias-{{i}}" type="text" required
                #addressAlias="ngModel"></ion-input>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-label floating>Nama Jalan (Nama jalan diikuti dengan nama kelurahan)</ion-label>
              <ion-textarea autosize maxLength="255" [disabled]="!data.edit" [(ngModel)]="data.address.address" (ionChange)="data.address.postalCode=''"
                name="address-{{i}}" type="text" required #namaJalan="ngModel"></ion-textarea>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item *ngIf="(namaJalan.invalid && (namaJalan.dirty || namaJalan.touched))">
              <ion-label text-center stacked style="color: red;">Data masih salah</ion-label>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-label floating>Nomor Rumah</ion-label>
              <ion-input [disabled]="!data.edit" [(ngModel)]="data.address.homeNo" name="homeNo-{{i}}" type="text" required #homeNo="ngModel"></ion-input>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item *ngIf="(homeNo.invalid && (homeNo.dirty || homeNo.touched))">
              <ion-label text-center stacked style="color: red;">Data masih salah</ion-label>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-label floating>Kode Pos</ion-label>
              <ion-input [disabled]="!data.edit" type="tel" [(ngModel)]="data.address.postalCode" [ngModelOptions]="{updateOn: 'blur'}"
                (ionBlur)="data.address.postalCode = changeToInt(data.address.postalCode)" required check-alamatwith-google-api
                [(addressParam)]="data.address" name="postalCode-{{i}}" #postalCode="ngModel"></ion-input>
            </ion-item>
          </ion-list>
          <small text-center text-wrap *ngIf="postalCode.pending" style="color: #488aff">Checking ...</small>
          <ion-list>
            <ion-item *ngIf="(postalCode.errors?.async && (postalCode.dirty || postalCode.touched))">
              <ion-label text-center text-wrap stacked style="color: red;">Kodepos yang anda masukan tidak sesuai dengan alamat</ion-label>
            </ion-item>
            <ion-item *ngIf="(postalCode.errors?.notavailable && (postalCode.dirty || postalCode.touched))">
              <ion-label text-center text-wrap stacked style="color: red;">Mohon maaf untuk saat ini kami hanya bisa mendelivery ke daerah Jakarta, Bogor, Tang. Selatan.</ion-label>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-label floating>Kelurahan</ion-label>
              <ion-input [disabled]="!data.edit" readonly="true" type="text" [(ngModel)]="data.address.kelurahan" name="kelurahan-{{i}}"
                required #kelurahan="ngModel"></ion-input>
            </ion-item>
          </ion-list>
          <br/>
          <ion-buttons text-center>
            <button ion-button color="secondary" block type="button" [class.hide]="data.edit" (click)="setEdit(i)">Ubah</button>
            <button ion-button color="secondary" block type="submit" [class.hide]="!data.edit" [disabled]="!addressForm.form.valid">Simpan</button>
            <button ion-button color="secondary" block type="button" [class.hide]="data.edit" (click)="setDelete(i, addressForm)">Delete</button>
            <button ion-button color="secondary" block type="button" [class.hide]="!data.edit || (data.address.ID==0)" (click)="setCancel(i, data.address.ID, addressForm)">Cancel</button>
          </ion-buttons>
        </ion-card-content>
      </form>
    </ion-card>
  </div>
  <ng-template #new>
    <ion-label text-center style="font-size: 1.3em;" bold text-wrap>Anda tidak mempunyai alamat yang tersimpan.</ion-label>
  </ng-template>
  <button ion-button color="secondary" icon-only (click)="addAddress()" type="button">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-content>