<ion-header no-shadow no-border>
    <ion-navbar>
        <button ion-button outline menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Dashboard - Overdue</ion-title>
    </ion-navbar>
    <ion-searchbar placeholder="Search By Order ID" #searchbar (keyup.enter)="onEnter(searchbar.value)">
    </ion-searchbar>
</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
    <p text-center>Total Order: {{ordercount}}</p>
    <ion-list *ngIf="done">
        <ion-card *ngFor="let orderr of ordersArray" color="graycombo">
            <ion-card-content>
                <div (click)="goToDetailUser(orderr.order.ID)">
                    <p text-center>#{{orderr.order.ID}}</p>
                    <br/>
                    <p>Total Pesanan : {{orderr.order.products.length}}</p>
                    <p>Total Overdue : {{orderr.order.getOverdue()}} Bulan</p>
                    <p>Total Tunggakan : Rp. {{getCurrency(orderr.order.getTunggakan())}}</p>
                    <p text-center>( Telat : {{orderr.order.getTunggakanInstallment()}} Installment )</p>
                </div>
                <br/>
                <ion-buttons text-center>
                    <button small type="button" (click)="sendMessage(orderr)" color="secondary" ion-button>Send Message</button>
                </ion-buttons>
            </ion-card-content>
        </ion-card>
    </ion-list>

    <ion-infinite-scroll *ngIf="ordersArray.length != ordercount" (ionInfinite)="doLoadMoreData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>