<ion-header no-shadow no-border>
    <ion-navbar>
        <button ion-button outline menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>ALKA
        </ion-title>
        <ion-buttons end>
            <button style="background-color: #5DBCD2;">
                <img src="./assets/imgs/AlkaLogo.png" width="40" height="40" />
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding no-bounce overflow-scroll="false">
    <ion-card>
        <ion-card-content no-bounce overflow-scroll="false">
            <ion-slides autoplay="3000" pager="true" loop="true" speed="500" *ngIf="itemImages.length > 0; else noImgs">
                <ion-slide *ngFor="let itemImage of itemImages">
                    <img src="{{itemImage}}" style="height:300px; margin: auto; display: block;">
                </ion-slide>
            </ion-slides>
            <ng-template #noImgs>
                <ion-slides autoplay="3000" pager="true" loop="true" speed="500">
                    <ion-slide>
                        <img src="">
                    </ion-slide>
                </ion-slides>
            </ng-template>
            <hr>
            <ion-row justify-content-center>
                <ion-col col-4 text-center class="ion-col-home" (click)="openPage('BeliPage')">
                    <img src="./assets/imgs/kambing.png" [height]="60" [width]="33">
                    <p>KAMBING</p>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>