<!--
  Generated template for the ModalAdminSendMsgPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow no-border>

  <ion-navbar>
    <ion-title>ModalAdminSendMsg</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
