<!--
  Generated template for the AdminParamLebaranPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Parameter Lebaran</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
    <form (ngSubmit)="onSubmit()" #lebaranForm="ngForm">
        <ion-item>
            <ion-label>
                Bulan Lebaran
            </ion-label>
            <ion-select item-end required [(ngModel)]="paramLebaran" name="param">
                <ion-option [value]="1">1</ion-option>
                <ion-option [value]="2">2</ion-option>
                <ion-option [value]="3">3</ion-option>
                <ion-option [value]="4">4</ion-option>
                <ion-option [value]="5">5</ion-option>
                <ion-option [value]="6">6</ion-option>
                <ion-option [value]="7">7</ion-option>
                <ion-option [value]="8">8</ion-option>
                <ion-option [value]="9">9</ion-option>
                <ion-option [value]="10">10</ion-option>
                <ion-option [value]="11">11</ion-option>
                <ion-option [value]="12">12</ion-option>
            </ion-select>
        </ion-item>
        <ion-buttons text-center>
            <button color="secondary" ion-button type="submit" class="btn btn-success" block>Save</button>
        </ion-buttons>
    </form>
</ion-content>