// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary : #5DBCD2, secondary : #bc7e40, danger : #6e00fd, light : #f4f4f4, dark : #222, graye: #E7E7E7, graycombo: #798788, lightblue: lightblue, lightblack: rgb(51, 49, 49), white: white, oranges: #FD8249);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
$toolbar-background: color($colors, primary);

.sidemenu {
    background-color: color($colors, primary) !important;
    color: color($colors, primary);
    .scroll-content {
        background-color: color($colors, primary) !important;
    }
}

.menu {
    background-color: color($colors, primary) !important;
    color: color($colors, primary);
    .scroll-content {
        background-color: color($colors, primary) !important;
    }
}

.scroll-content {
    overflow-y: auto !important;
}

$background-color: color($colors, white);
$background-ios-color: color($colors, white);
$background-md-color: color($colors, white);

@-webkit-keyframes animateInPrimary {
    0% {
      -webkit-transform: translate3d(-100%,0,0);
    }
   
    100% {
      -webkit-transform: translate3d(0,0,0);
    }
  }
   
  @-webkit-keyframes animateInSecondary{
   
    0% {
      opacity: 0;
    }
   
    50% {
      opacity: 0;
    }
   
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes animateInPrimaryVertical {
    0% {
      -webkit-transform: translate3d(0,-100%,0);
    }
   
    100% {
      -webkit-transform: translate3d(0,0,0);
    }
  }
   
  .animate-in-primary {
      -webkit-animation: animateInPrimary;
      animation: animateInPrimary;
      -webkit-animation-duration: 750ms;
      animation-duraton: 750ms;
  }
   
  .animate-in-secondary {
      -webkit-animation: animateInSecondary ease-in 1;
      animation: animateInSecondary ease-in 1;
      -webkit-animation-duration: 750ms;
      animation-duraton: 750ms;
  }

  .animate-in-primary-vertical {
    -webkit-animation: animateInPrimaryVertical;
    animation: animateInPrimaryVertical;
    -webkit-animation-duration: 300ms;
    animation-duraton: 300ms;
}

  page-modal-test {

    ion-content {
        &.content {
            div.scroll-content {
                top: 10%;
                left: 10%;
                width: 80%;
                height: 30%;
                overflow:hidden;
            }
        }
    
        &.content-ios {
            background-color: rgba(0, 0, 0, 0.3);
    
            div.scroll-content {
                background-color: #f8f8f8;
                border-radius: 13px;
                padding: 16px;
            }
        }
    
        &.content-md {
            background: inherit;
            
            div.scroll-content {
                background-color: #fafafa;
                border-radius: 2px;
                box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
                padding: 24px;
            }
        }
    }
    }
    
    ion-modal {
    &.my-modal {
    div.modal-wrapper {
    box-shadow: none; // <---- This was the shadow I faced
    }
    }}
    
    