<ion-header>

    <ion-navbar>
        <ion-title>Parameter Items</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
    <form (ngSubmit)="onSubmit()" #itemsForm="ngForm">
        <ion-list *ngFor="let map of mapKeys; let l = index">
            <ion-list-header>
                <ion-label style="font-size: 1.5em;" color="oranges">{{map}}</ion-label>
            </ion-list-header>
            <div *ngFor="let item of mapItems.get(map);let i = index">
                <ion-item>
                    <ion-label>
                        {{item.itemName}}
                    </ion-label>
                    <ion-input type="number" (ionChange)="onChange(map,i, $event)" [value]="mapItems.get(map)[i].itemPrice" text-end></ion-input>
                </ion-item>
                <ion-buttons text-right>
                    <button ion-button type="button" round color="secondary" (click)="deleteItem(map,i)">
                        Delete Item
                    </button>
                </ion-buttons>
            </div>
            <ion-buttons text-left>
                <button ion-button type="button" round color="secondary" (click)="goToImagesSetting(map)">
                    Images
                </button>
            </ion-buttons>
        </ion-list>
        <button ion-button type="button" round icon-only color="secondary" (click)="newItem()">
            <ion-icon name="add"></ion-icon>
        </button>
        <br/>
        <br/>
        <ion-buttons text-center>
            <button type="submit" ion-button color="secondary" block>Simpan</button>
        </ion-buttons>
    </form>
</ion-content>