<ion-header no-shadow no-border>
  <ion-navbar>
    <ion-title style="text-align: left;">Detail - User</ion-title>
    <ion-buttons end>
      <button solid ion-button color="white" (click)="sendMsg()">
        Message
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
  <ion-card>
    <ion-card-content text-wrap no-bounce overflow-scroll="false">
      Full Name : {{user.firstName+" "+user.lastName}}
      <br/>Username : {{user.userName}}
      <br/>Email : {{user.email}}
      <br/>Phone Number : {{user.phoneNumber}}
    </ion-card-content>
  </ion-card>
  <br/>
  <ion-buttons text-center>
    <button ion-button color="secondary" (click)="goToUserAddresses()">
      User Addresses
    </button>
  </ion-buttons>
  <br/>
  <ion-card *ngFor="let order of orders; let i = index">
    <ion-item no-padding style="font-weight: bold; border-radius: 5px; background: #798788;" (click)="orderDetail.hidden ? orderDetail.hidden = false : orderDetail.hidden = true">
      <ion-label item-start color="white">
        &nbsp; Order #{{order.ID}}
      </ion-label>
      <ion-note item-end color="white">
        {{order.getStatusName()}}
      </ion-note>
    </ion-item>
    <ion-card-content [hidden]="true" #orderDetail no-bounce overflow-scroll="false" class="animate-in-primary-vertical">
      <ion-list>
        <div>
          <br/> Rincian pesanan:
          <br/>
          <br/>
          <ng-container *ngFor="let desc of order.getProdDesc();">
            <ion-label text-wrap style="padding-left: 5em;">- {{desc}}</ion-label>
          </ng-container>
          <br/> Tanggal Pemasanan:
          <b>{{order.orderDate | date:'dd-MM-yyyy'}}</b>
          <br/> Besar cicilan perbulan:
          <b>Rp. {{getCurrency(getAngsuran(order))}}</b>
          <br/> Total cicilan:
          <b>{{order.totalInstallment}} kali.</b>
          <br/> Sisa cicilan:
          <ng-container *ngIf="order.totalInstallment + 1 == order.paymentDetails.length; else nonlunasactive">
            <b>User sudah lunas.</b>
          </ng-container>
          <ng-template #nonlunasactive>
            <b *ngIf="order.getSisaInstallment() != 0; else nonlunasoption">{{order.getSisaInstallment()}} kali.</b>
          </ng-template>
          <ng-template #nonlunasoption>
            <b *ngIf="order.totalInstallment == order.getCurrentInstallment();">Belom lunas delivery/potong</b>
          </ng-template>
          <br/>
          <ion-card>
            <ion-item-divider text-center color="graycombo" style="font-weight: bold; border-radius: 5px;">Daftar Detail Pesanan</ion-item-divider>
            <ion-card-content no-bounce overflow-scroll="false">
              <br/>
              <ion-list>
                <ion-item *ngFor="let product of order.products">
                  <ion-label text-wrap item-start>#{{product.productId}} ({{product.itemName}})</ion-label>
                  <ion-note *ngIf="order.status != 3" item-end color="oranges">{{productStatus[product.status]}}</ion-note>
                  <ion-note *ngIf="order.status == 3" item-end color="oranges">CANCELED</ion-note>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>