<ion-header no-shadow no-border>
    <ion-navbar>
        <button ion-button outline menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Settings</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
    <ion-card color="graycombo">
        <ion-card-header (click)="forwardToParamLebaran()">
            Parameter Lebaran
        </ion-card-header>
    </ion-card>
    <ion-card color="graycombo">
        <ion-card-header (click)="forwardToParamRefund()">
            Parameter Refund
        </ion-card-header>
    </ion-card>
    <ion-card color="graycombo">
        <ion-card-header (click)="forwardToParamItems()">
            Parameter Items
        </ion-card-header>
    </ion-card>
    <ion-card color="graycombo">
        <ion-card-header (click)="forwardToParamHargaAdmin()">
            Parameter Harga Admin
        </ion-card-header>
    </ion-card>
    <ion-card color="graycombo">
        <ion-card-header (click)="forwardToParamBanner()">
            Parameter Banner
        </ion-card-header>
    </ion-card>
</ion-content>