<ion-menu [content]="content" [swipeEnabled]="false">

    <ion-content class="sidemenu" no-bounce overflow-scroll="false">
        <!-- <ion-grid style="height: 100%"> -->
        <ion-row align-items-center style="height: 100%; width: 100%">
            <!-- <ion-item color="primary" no-lines></ion-item>
        <ion-item color="primary" no-lines></ion-item>
        <ion-item color="primary" no-lines></ion-item> -->
            <div style="height: 100%;width: 100%">
                <ion-list>
                    <ion-item-divider text-start color="primary">
                        <ion-label>Menu</ion-label>
                    </ion-item-divider>
                    <button menuClose color="primary" ion-item *ngFor="let p1 of NavPages" (click)="openPage(p1)">
                        <ion-icon *ngIf="p1.icon" item-start [name]="p1.icon"></ion-icon>
                        {{p1.title}}
                    </button>
                    <ion-item color="primary" no-lines></ion-item>

                    <ng-container *ngIf="isAdmin">
                        <ion-item-divider text-start color="primary">
                            <ion-label>Admin - Dashboards</ion-label>
                        </ion-item-divider>
                        <button menuClose color="primary" ion-item *ngFor="let p4 of NavAdminPages" (click)="openPage(p4)" [class.hide]="p4.hidden">
                            <ion-icon *ngIf="p4.icon" item-start [name]="p4.icon">
                            </ion-icon>
                            {{p4.title}}
                        </button>
                        <ion-item color="primary" no-lines></ion-item>
                    </ng-container>

                    <ng-container *ngIf="hasLoggedIn; else guestmode">
                        <ion-item-divider text-start color="primary">
                            <ion-label>Akun ku</ion-label>
                        </ion-item-divider>
                        <button menuClose color="primary" ion-item *ngFor="let p2 of NavUserPages" (click)="openPage(p2)">
                            <ion-icon *ngIf="p2.icon" item-start [name]="p2.icon">
                                <ion-badge *ngIf="p2.title=='Pesan' && messagesBadge > 0" class="badge-top" color="secondary">
                                    <i>{{messagesBadge}}</i>
                                </ion-badge>
                            </ion-icon>
                            {{p2.title}}
                        </button>
                        <br/>
                        <ion-buttons text-center>
                            <button color="secondary" menuClose ion-button round *ngIf="hasLoggedIn" (click)="logout()">
                                Keluar
                            </button>
                        </ion-buttons>
                        <ion-item color="primary" no-lines></ion-item>
                    </ng-container>

                    <ng-template #guestmode>
                        <ion-item-divider text-start color="primary">
                            <ion-label>Akun</ion-label>
                        </ion-item-divider>
                        <button menuClose color="primary" ion-item *ngFor="let p3 of NavGuestPages" (click)="openPage(p3)">
                            <ion-icon *ngIf="p3.icon" item-start [name]="p3.icon"></ion-icon>
                            {{p3.title}}
                        </button>
                        <ion-item color="primary" no-lines></ion-item>
                    </ng-template>

                </ion-list>
            </div>
        </ion-row>
        <!-- </ion-grid> -->
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav #content ></ion-nav>