<ion-content padding no-bounce overflow-scroll="false">
  <div text-center>
    <div text-center *ngIf="resultCode == '00'; else waiting">
      <img width="80" height="80" src="./assets/imgs/success.png">
      <ion-label>Transaksi Berhasil</ion-label>
    </div>
    <ng-template #waiting>
      <div text-center *ngIf="resultCode == '01'; else failed">
        <img width="80" height="80" src="./assets/imgs/success.png">
        <ion-label>Menunggu Pembayaran</ion-label>
        <br/>
        <ion-item-group>
          <ion-item-divider text-center color="graycombo" style="font-weight: bold; font-size: 1.3em; border-radius: 5px;">Bank Transfer Information</ion-item-divider>
          <ion-card>
            <ion-card-content no-bounce overflow-scroll="false">
              <div text-center>
                <p>No Rekening ATM Bersama (Kode Bank 987) : {{vaNumber}} </p>
                <p>Nominal: {{getCurrency(totalPembayaran)}}</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-item-group>
      </div>
    </ng-template>
    <ng-template #failed>
      <div text-center>
        <img width="80" height="80" src="./assets/imgs/failed.png">
        <ion-label>Transaksi Tidak Berhasil, Silahkan Hubungi Admin.</ion-label>
      </div>
    </ng-template>
    <ion-buttons text-center>
      <button ion-button color="secondary" block (click)="onClickAlamat()">
        Lanjut ke setting pesanan
      </button>
      <button ion-button color="secondary" block (click)="onClickHome()">
        Beranda
      </button>
    </ion-buttons>
  </div>
</ion-content>