<!--
  Generated template for the ForgotpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lupa Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-center no-bounce overflow-scroll="false">
  <ion-label text-center text-wrap *ngIf="email.errors?.minlength" style="color:red">Email minimal 8 digit.</ion-label>
  <ion-item>
    <ion-label floating>Email :</ion-label>
    <ion-input type="email" ion-content [(ngModel)]="email" required email minlength="8"></ion-input>
  </ion-item>
  <button ion-button block color="secondary" (click)="resetPassword()">
    Kirim
  </button>
</ion-content>