<ion-header>
  <ion-navbar>
    <button ion-button outline menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard - User</ion-title>
  </ion-navbar>
  <ion-searchbar placeholder="Search By Name" #searchbar (keyup.enter)="onEnter(searchbar.value)">
  </ion-searchbar>
</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
  <p text-center>Total Users: {{usercount}}</p>
  <p text-center>Total Current Active Products: {{currentActiveProductsCount}}</p>
  <ion-card *ngFor="let user of users" color="graycombo">
    <ion-card-content text-wrap no-bounce overflow-scroll="false">
      <div (click)="goToDetailUser(user)">
        Full Name : {{user.firstName+" "+user.lastName}}
        <br/>Username : {{user.userName}}
        <br/>Email : {{user.email}}
        <br/>Total Order : {{user.orders.length}}
        <br/>Total Alamat : {{user.addresses.length}}
      </div>
      <ion-row class="panen-grid-myorder" align-items-center justify-content-end>
        <ion-col col-auto>
          <button small ion-button color="secondary" (click)="sendMessage(user)">
            Send Message
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>


  <ion-infinite-scroll *ngIf="users.length != usercount" (ionInfinite)="doLoadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>