<!--
  Generated template for the MessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header #header no-shadow no-border>

    <ion-navbar>
        <button ion-button outline menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Pesan</ion-title>
    </ion-navbar>

</ion-header>

<ion-header [style.margin-top]="getTop()+'px'" style="background-color: #FFFFFF;" *ngIf="topLoading">
    <ion-item>
        <ion-spinner item-start name="crescent" class="spinner-royal"></ion-spinner>
        <ion-label style="color: #886aea;">Loading</ion-label>
    </ion-item>
</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
    <ion-list *ngIf="messages.length > 0; else nomessage">
        <ion-item *ngFor="let message of messages;" (click)="goToDetail(message)">
            <ion-badge color="secondary" item-content *ngIf="message.read == false">&nbsp;</ion-badge>{{message.message.data}}
        </ion-item>
    </ion-list>
    <ng-template #nomessage>
        <p text-center>Anda tidak mempunyai pesan.</p>
    </ng-template>
</ion-content>