<ion-header no-shadow no-border>
  <ion-navbar>
    <button ion-button outline menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Hubungi Kami</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
  <ion-item text-wrap>
    <p>*Mohon untuk menyertakan email / no HP yang bisa dihubungi.</p>
  </ion-item>
  <br/>
  <ion-list>
    <form #formMsg="ngForm" (ngSubmit)="submit()">
      <ion-item>
        <p item-content>
          Dari :
        </p>
        <ion-input text-end item-end [(ngModel)]="from" name="from">
        </ion-input>
      </ion-item>
      <ion-item>
        <p item-center>
          Pesan (Max. 255) :
        </p>
      </ion-item>
      <ion-item>
        <ion-textarea autosize maxLength="255" text-end item-end required [(ngModel)]="data" name="data">
        </ion-textarea>
      </ion-item>
      <br/>
      <ion-buttons text-center>
        <button color="secondary" block ion-button type="submit" [disabled]="!formMsg.valid">
          Kirim
        </button>
      </ion-buttons>
    </form>
  </ion-list>
</ion-content>