<ion-header>
    <ion-navbar>
        <button ion-button outline menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Send Message</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <form #formMsg="ngForm" (ngSubmit)="submit()">
            <ion-item>
                <p item-center>
                    Message (Max. 255) :
                </p>
            </ion-item>
            <ion-item>
                <ion-textarea autosize maxLength="255" text-end item-end required [(ngModel)]="msgs" name="msgs">
                </ion-textarea>
            </ion-item>
            <br/>
            <ion-buttons text-center>
                <button color="secondary" block ion-button type="submit" [disabled]="!formMsg.valid">
                    Send
                </button>
            </ion-buttons>
        </form>
    </ion-list>
</ion-content>