<!--
  Generated template for the UpdatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding style="background-image: url('./assets/imgs/splash.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
  <ion-row justify-content-center style="height: 100%; width: 100%">
    <div style="margin-top: 30%" *ngIf="!onUpdate" text-center>
      <ion-label style="font-size: 1.5em;" color="white">Updates Available</ion-label>
    </div>
    <div style="margin-top: 130%; width: 100%" *ngIf="onUpdate" text-center>
      <ion-label style="font-size: 0.5em;" color="white">{{progress}}%</ion-label>
      <ion-label style="font-size: 0.5em;" color="white">{{progressString}}</ion-label>
      <div class="progress-outer">
        <div class="progress-inner" [style.width]="progress + '%'">
        </div>
      </div>
    </div>
  </ion-row>
</ion-content>

<ion-footer no-border>
  <ion-toolbar position="bottom" *ngIf="!onUpdate">
    <button color="secondary" ion-button block (click)="update()">UPDATE</button>
  </ion-toolbar>
</ion-footer>