<ion-header no-shadow no-border>
  <ion-navbar>
    <ion-title style="text-align: left;">User - Addresses</ion-title>
    <ion-buttons end>
      <button solid ion-button color="white" (click)="sendMessage()">
        Message
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
  <div *ngIf="user.addresses.length>0; else new">
    <ion-card *ngFor="let address of user.addresses; let i = index">
      <ion-card-header class="panen-grid">
        <ion-item no-padding>
          <ion-label floating>Nama Alias</ion-label>
          <ion-input [disabled]="true" [(ngModel)]="address.addressAlias"></ion-input>
        </ion-item>
      </ion-card-header>
      <ion-card-content no-bounce overflow-scroll="false">
        <ion-list>
          <ion-item>
            <ion-label floating>Nama Jalan</ion-label>
            <ion-textarea autosize maxLength="255" [disabled]="true" [(ngModel)]="address.address"></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label floating>Nomor Rumah</ion-label>
            <ion-input [disabled]="true" [(ngModel)]="address.homeNo"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label floating>Kode Pos</ion-label>
            <ion-input [disabled]="true" [(ngModel)]="address.postalCode" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Kelurahan</ion-label>
            <ion-input [disabled]="true" [(ngModel)]="address.kelurahan"></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #new>
    <ion-row justify-content-center align-items-center style="height: 100%; width: 100%;">
      <ion-label text-center style="font-size: 1.3em;" bold text-wrap>User tidak mempunyai alamat yang tersimpan.</ion-label>
    </ion-row>
  </ng-template>
</ion-content>