<ion-header no-shadow no-border>
    <ion-navbar>
        <button ion-button outline menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Dashboard - Potong</ion-title>
    </ion-navbar>
    <ion-searchbar placeholder="Search By Product ID" #searchbar (keyup.enter)="onEnter(searchbar.value)">
    </ion-searchbar>
</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
    <p text-center>Total Active Products: {{productcount}}</p>
    <ion-list>
        <ion-list-header>
            <ion-label style="font-size: 1.5em;" color="oranges">POTONG</ion-label>
        </ion-list-header>
        <ion-card *ngFor="let prod of products" color="graycombo">
            <ion-card-content>
                <div (click)="goToUserDetail(prod)">
                    <p text-center>#{{prod.productId}} <span *ngIf="prod.status != 0" style="color: red;">({{statusProduct[prod.status]}})</span></p>
                    <p text-center>({{prod.itemName}})</p>
                </div>
                <br/>
                <ion-buttons text-center>
                    <button small type="button" color="secondary" (click)="sendMessage(prod)" ion-button>Send Message</button>
                    <button small *ngIf="prod.status == 0" type="button" (click)="saveProdStatus(prod, 2)" ion-button color="secondary">Done</button>
                </ion-buttons>
            </ion-card-content>
        </ion-card>
    </ion-list>

    <ion-infinite-scroll *ngIf="currentProductCount != productcount" (ionInfinite)="doLoadMoreData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>