/* .panen-grid-beli {
    border-bottom: thick solid #5DBCD2;
    border-left: thick solid #5DBCD2;
    border-right: thick solid #5DBCD2;
    border-top: thick solid #5DBCD2;
}

.panen-grid-bawah {
    border-bottom: thick solid #5DBCD2;
} */

.test {
    width: auto;
}

.ion-button {
    border-radius: 50%;
    color: red;
}

.test.dash {
    padding-left: 0px;
    padding-right: 0px;
}

.custom-ion-card-header {
    background-color: #798788;
}

.badge-top{
    position: absolute;
    left: 30px;
    top: 1px;
}

/* .customBtn{
    width: 15px;
} */


/* .panen-grid-mybuttons {
    border-bottom: thin solid blue;
    border-left: thin solid blue;
    border-right: thin solid blue;
  } */

.panen-grid-myorder {
    border-top: thin solid #DFDFDF;
}


/* button:hover {
  background-color: #cfd8dc;
} */

ion-modal {
    padding: 30px;
    background: rgba(0,0,0,0.7)
}

.spinner-royal svg * {
    stroke: #886aea !important;
}

.ion-col-home {
    border-bottom: thin solid black;
    border-left: thin solid black;
    border-right: thin solid black;
    border-top: thin solid black;
}
