<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow no-border>

    <ion-navbar>
        <button ion-button outline menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Daftar</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding text-center no-bounce overflow-scroll="false">
    <form #regiserForm="ngForm" (ngSubmit)="onRegister()" style="width: 100%">
        <ion-label text-center text-wrap *ngIf="username.errors?.async" style="color:red">Username sudah dipakai, silahkan gunakan Username yang lain.</ion-label>

        <ion-label text-center text-wrap *ngIf="email.errors?.async" style="color:red">Email sudah dipakai, silahkan gunakan Email yang lain.</ion-label>

        <ion-label text-center text-wrap *ngIf="phoneNumber.errors?.async" style="color:red">Phone number sudah dipakai, silahkan gunakan nomor yang lain.</ion-label>

        <ion-label text-center text-wrap *ngIf="email.errors?.minlength" style="color:red">Email minimal 8 digit.</ion-label>

        <ion-label text-center text-wrap *ngIf="password.invalid && repassword.value?.length > 0" style="color:red">Password minimal 6 digit</ion-label>

        <ion-label text-center text-wrap *ngIf="repassword.invalid && repassword.value?.length > 0" style="color:red">Password anda tidak sama</ion-label>

        <ion-label text-center text-wrap *ngIf="phoneNumber.errors?.minlength && phoneNumber.value?.length > 0" style="color:red">Phone number minimal 11 digit</ion-label>
        <ion-list>
            <ion-item>
                <ion-label floating>Username :</ion-label>
                <ion-input ion-content [(ngModel)]="loginItem.userName" [ngModelOptions]="{updateOn: 'blur'}" asyncUsernameValidator required
                    name="username" #username="ngModel"></ion-input>
            </ion-item>
            <small text-center text-wrap *ngIf="username.pending" style="color: #488aff">Checking ...</small>
            <ion-item>
                <ion-label floating>Password :</ion-label>
                <ion-input repass type="password" ion-content [(ngModel)]="loginItem.password" required name="password" minlength="6" #password="ngModel"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Ulang Password :</ion-label>
                <ion-input repass #pass2 type="password" ion-content [(ngModel)]="password2" required [pass]="password" name="repassword"
                    #repassword="ngModel" [disabled]="loginItem.password == null || loginItem.password == ''"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Nama Depan:</ion-label>
                <ion-input type="text" ion-content [(ngModel)]="loginItem.firstName" required name="firstName" #firstName="ngModel"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Name Belakang :</ion-label>
                <ion-input type="text" ion-content [(ngModel)]="loginItem.lastName" required name="lastName" #lastName="ngModel"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>No. Handphone :</ion-label>
                <ion-input type="tel" mask="+**************" ion-content [(ngModel)]="loginItem.phoneNumber" [ngModelOptions]="{updateOn: 'blur'}"
                    asyncPhonenumberValidator required minlength="12" name="phoneNumber" #phoneNumber="ngModel"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Email :</ion-label>
                <ion-input type="email" ion-content [(ngModel)]="loginItem.email" [ngModelOptions]="{updateOn: 'blur'}" asyncEmailValidator
                    required name="email" minlength="8" #email="ngModel" pattern="^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$"></ion-input>
            </ion-item>
            <small text-center text-wrap *ngIf="email.pending" style="color: #488aff">Checking ...</small>
        </ion-list>
        <ion-buttons>
            <button type="submit" color="secondary" block ion-button [disabled]="!regiserForm.form.valid">Daftar</button>
        </ion-buttons>
    </form>
</ion-content>