<!--
  Generated template for the MessageDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow no-border>

  <ion-navbar>
    <ion-title>Detil pesan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
  <ion-card color="graycombo">
    <ion-card-header>
      <b>Dari : {{msg.from}}</b>
    </ion-card-header>
    <ion-card-content text-center>
      Pesan : {{msg.data}}
    </ion-card-content>
  </ion-card>
</ion-content>