<!--
  Generated template for the AdminParamPicsItemsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Images</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngFor="let data of images; let i = index">
    <img #img src="{{data.data}}">
    <ion-buttons text-center>
      <button ion-button color="secondary" block type="button" (click)="setDelete(i)">Delete</button>
    </ion-buttons>
    <hr>
  </div>
  <ion-buttons text-left>
    <button ion-button color="secondary" icon-only (click)="addPic()" type="button">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>
</ion-content>