<ion-header no-shadow no-border>

    <ion-navbar>
        <ion-title>Pembayaran</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
    <ion-card>
        <ion-item-divider text-center color="graycombo" style="font-weight: bold; font-size: 1.3em; border-radius: 5px;">Deskripsi Pesanan</ion-item-divider>
        <ion-card-content no-bounce overflow-scroll="false">
            <br/> Pesanan anda dengan total
            <b> {{order.products.length}} hewan. </b>
            <br/> Berikut adalah rincian pesanan:
            <br/>
            <br/>
            <ng-container *ngFor="let desc of order.getProdDesc();">
                <ion-label text-wrap style="padding-left: 5em;">- {{desc}}</ion-label>
            </ng-container>
            <br/> Tanggal Pemasanan:
            <b>{{order.orderDate | date:'dd-MM-yyyy'}}</b>
            <br/> Besar cicilan perbulan:
            <b>Rp. {{getCurrency(getAngsuran())}}</b>
            <br/> Total cicilan:
            <b>{{order.totalInstallment}} kali.</b>
            <br/>
            <p *ngIf="totalInstallmentNumberArray.length > 0">*Belom termasuk pembayaran option Order (potong/antar)</p>
            <br/>
            <ion-list *ngIf="totalInstallmentNumberArray.length > 0">
                <b>Total installments yang ingin dibayarkan</b>
                <ion-item *ngFor="let installmentNumber of totalInstallmentNumberArray; let i = index">
                    <ion-label>{{installmentNumber.number}}</ion-label>
                    <ion-checkbox item-content [(checked)]="installmentNumber.checked" [(ngModel)]="installmentNumber.checked" [(disabled)]="i == 0 ? true : totalInstallmentNumberArray[i+1]?.checked == true ? true : !totalInstallmentNumberArray[i-1].checked"></ion-checkbox>
                </ion-item>
            </ion-list>
            <br/>
            <b *ngIf="totalInstallmentNumberArray.length > 0; else payoptions">Total pembayaran : Rp. {{getCurrency(getTotalPembayaran())}}</b>
            <ng-template #payoptions>
                <b *ngIf="totalInstallmentNumberArray.length == 0; else payoptions">Total pembayaran : Rp. {{getCurrency(price)}}</b>
            </ng-template>
            <br/>
            <br/>
        </ion-card-content>
    </ion-card>
    <form #paymentForm="ngForm" (ngSubmit)="onSubmit()">
        <ion-card>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>Metode Pembayaran :</ion-label>
                        <ion-select item-content [(ngModel)]="selectedPayMethod" required name="paymentMethod" #paymentMethod="ngModel">
                            <ion-option *ngFor="let payMethod of paymentMethods" [value]="payMethod.value">{{payMethod.name}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <!-- <ng-container *ngIf="selectedPayMethod === 'creditcard'; else transferbank">
                <ion-item-group>
                    <ion-item-divider text-center color="primary" style="font-weight: bold; font-size: 1.3em;">Credit Card Information</ion-item-divider>
                    <ion-item-group>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label>Jenis Kartu :</ion-label>
                                    <ion-select item-content [(ngModel)]="paymentCreditCard.cardType" required name="cardType" #cardType="ngModel">
                                        <ion-option *ngFor="let card of cards" [value]="card">{{card}}</ion-option>
                                    </ion-select>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label>No. Kartu :</ion-label>
                                    <ion-input text-end mask="****-****-****-****" maxlength="19" required type="tel" item-content [(ngModel)]="paymentCreditCard.cardNumber"
                                        name="cardNumber" #cardNumber="ngModel"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label item-start>Expire Date :</ion-label>
                                    <ion-input text-end maxlength="5" required type="tel" mask="**/**" item-end [(ngModel)]="paymentCreditCard.cardExpDate" name="cardExpDate"
                                        #cardExpDate="ngModel"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label>CVV :</ion-label>
                                    <ion-input text-end maxlength="3" required type="tel" integer item-content [(ngModel)]="paymentCreditCard.cardSecurityCode"
                                        name="cardSecurityCode" #cardSecurityCode="ngModel"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-item-group>
                    <ion-item-divider text-center color="primary" style="font-weight: bold; font-size: 1.3em;">Billing Information</ion-item-divider>
                    <ion-item-group>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label item-start>First Name :</ion-label>
                                    <ion-input text-end type="text" [(ngModel)]="paymentCreditCard.firstName" required name="firstName" #firstName="ngModel"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label item-start>Last Name :</ion-label>
                                    <ion-input text-end type="text" [(ngModel)]="paymentCreditCard.lastName" required name="lastName" #lastName="ngModel"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label item-start>Billing Address :</ion-label>
                                    <ion-textarea autosize maxLength="255" text-end [(ngModel)]="paymentCreditCard.billingAddress" required name="billingAddress"
                                        #billingAddress="ngModel"></ion-textarea>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label>Country :</ion-label>
                                    <ion-select item-end [(ngModel)]="paymentCreditCard.country" required name="country" #country="ngModel">
                                        <ion-option *ngFor="let country of countries" [value]="country.name">{{country.name}}</ion-option>
                                    </ion-select>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label item-start>City :</ion-label>
                                    <ion-input text-end type="text" item-end required [(ngModel)]="paymentCreditCard.city" name="city" #city="ngModel"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label item-start>Zipcode :</ion-label>
                                    <ion-input text-end item-end type="tel" required [(ngModel)]="paymentCreditCard.zipcode" integer name="zipcode" #zipcode="ngModel"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label item-start>Phone Number :</ion-label>
                                    <ion-input text-end type="tel" item-end required [(ngModel)]="paymentCreditCard.phoneNumber" integer name="phoneNumber" #phoneNumber="ngModel"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-item-group>
                </ion-item-group>
            </ng-container> -->
            <!-- <ng-container *ngIf="">
                <ion-item-group>
                    <ion-item-divider text-center color="primary" style="font-weight: bold; font-size: 1.3em;">Bank Transfer Information</ion-item-divider>
                    <ion-item-group>
                        <ion-card color="secondary" >
                            <ion-card-header text-center>
                                <ion-label>Bank Information</ion-label>
                            </ion-card-header>
                            <ion-card-content no-bounce overflow-scroll="false">
                                <div text-center>
                                    <p>No Rekening ATM Bersama (Kode Bank 987) : {{noVA}} </p>
                                    <p>Nominal: {{getCurrency(getTotalPembayaran())}}</p>
                                </div>
                            </ion-card-content>
                        </ion-card>
                    </ion-item-group>
                </ion-item-group>
            </ng-container> -->
        </ion-card>
        <div>
            <ion-buttons text-center>
                <button ion-button color="secondary" type="submit" block [disabled]="!paymentForm.form.valid">
                    Bayar
                </button>
            </ion-buttons>
        </div>
    </form>
</ion-content>