<ion-header no-shadow no-border>
    <ion-navbar>
        <button ion-button outline menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>FAQ</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding no-bounce overflow-scroll="false">
    <img src="./assets/imgs/AlkaLogo.png" style="height:100px; margin: auto; display: block;"/>
    <br/>
    <b>1.	Bagaimana cara kerja Alka?</b>
    <br/>
    <br/>
    Alka memudahkan konsumen memperoleh kambing untuk ibadah kurban. Kambing dapat dipesan jauh hari sebelum pelaksanaan kurban dan dibayar secara mencicil. 
    <br/>
    <br/>
    <br/>
    <b>2.	Dimana kandang Alka?</b>
    <br/>
    <br/>
    Alka saat ini bekerjasama dengan Faradina Farm, sebuah peternakan kambing yang terletak di desa Pasir Angin, Bogor. Apabila ingin mengunjungi farm, silahkan hubungi kami untuk mengatur jadwal.
    <br/>
    <br/>
    <br/>
    <b>3.	Bagaimana cara membayar kambing yang di cicil?</b>
    <br/>
    <br/>
    Pembayaran dapat dilakukan melalui transfer ke rekening virtual atau kartu kredit. Setiap bulan Alka akan memberikan reminder untuk melakukan pembayaran cicilan melalui aplikasi di handphone Anda. Pembayaran dilakukan melalui third party vendor Duitku yang mendapat sertifikasi dan pengawasan dari OJK.
    <br/>
    <br/>
    <br/>
    <b>4.	Apa yang terjadi jika saya cancel pesanan?</b>
    <br/>
    <br/>
    Jika Anda merubah pikiran anda ataupun tidak sanggup lagi untuk membayar, anda bisa cancel pesanan anda di Dashboard. Uang yang sudah dibayarkan akan dikembalikan ke Anda 1 bulan setelah pelaksanaan ibadah Kurban. 
    <br/>Jika anda cancel sesudah H - 2 bulan Idul Adha, Uang Administrasi sebesar Rp. 50.000 akan hilang.
    <br/>
    <br/>
    <br/>
    <b>5.	Jika saya memilih kambing untuk titip potong, dimana hewan kurban saya dipotong dan disalurkan kemana?</b>
    <br/>
    <br/>
    Alka saat ini bekerjasama dengan Yayasan Amal KSA untuk pelaksanaan potong dan penyaluran kurban. Pemotongan dilakukan di Pasir Angin (lokasi kandang) untuk disalurkan kepada warga yang berhak di sekitar lokasi kandang, dan di Pasar Minggu (kantor Yayasan) untuk disalurkan terutama ke warga yang berhak di sekitar Jakarta Selatan.
    <br/>
    <br/>
    <br/>
    <b>6.	Jika saya memilih kambing untuk diantar, bagaimana jadwal pengirimannya? Dan sampai mana area pengiriman?</b>
    <br/>
    <br/>
    Kami akan menghubungi Anda kembali untuk konfirmasi jadwal pengiriman mendekati Idul Adha. Saat ini area pengiriman kambing hanya meliputi Jakarta, Bogor, dan Tangerang Selatan.
    <br/>
    <br/>
    <br/>
</ion-content>